<h2 class="mb-4 text-center"> Chat With Coach</h2>
<div class="d-flex justify-content-between">
    <a href="@Url.Action("ChatWithCoach", "Client")" class="btn btn-sm btn-outline-primary">Chat With Coach</a>

</div> 

@* this button not coded yet *@